.gold-section{
    position: relative;
    height: 190PX;
    background-color: transparent;
}
.gold-section .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 4%, #75531c 80%, #996a1f 100%);
    opacity: 0.6;
    height: 190PX;
    width: 100%;
    top: 5;
    left: 0;
    position: absolute;
}
footer{
    background-color: black;
}
.empty{
    height: 250px;
    /* background-color: black; */
}
/* slideshow */
.img-slider{
    background-color: black;
    width:100%;
    height: auto;
}
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    height:auto;
  }
  /* Hide the images by default */
  .img-slider .mySlides {
    display: none;
    position: relative;
    height: auto;
  }
  
  .img-slider .mySlides div{
      top: 0!important;
      padding-top:20%;
      position:absolute;
      height: 100%;
      right:0!important;
      background-color: rgb(56, 54, 54);
      opacity: 0.8;
  }
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 35%;
    top:40%;
    right:5%;
    text-align: center;
    align-items: center;
  }
 .img-slider .fade .text h2{
        color:rgb(0, 0, 0);
  }
  .img-slider .fade .text p{
   color:white;  
  }
  .img-slider .fade .text a:hover{
    border: 0px;
    color:rgb(102, 96, 96);
  }
  .active, .dot:hover{
    background-color: #e2ad56;
  }  
 .fade {
    animation-name: fade;
    animation-duration: 20s;
  }
  .img-slider .fade img{
     width:100%;
     height:auto;
  }
  .slideshow-container .circle{
    margin-top: -50px;
  }
  .today-perfume{
    /* background-color: black; */
    align-items: center;
  }
  .list-img .d-flex img{
      height:257px;
      width:386px;
  }
  #h11,#h11_valid,#h11_thisweek,#h11_branchs{
    background-color:#f9ce8a;
    color:rgb(0, 0, 0);
    padding:1rem;
    padding-top: 1.5rem;
    width:50%;
    border-radius: 180px;
  }
  .empty2{
    height:100px;
  }
    .a-large{
        margin-top:0px;
    }
    .a-large p{
        top:52%;
    }
  .preview1 .row .columnn,
  .preview2 .columnn{
      text-align: center;
  }
  .preview1 .row .columnn h1,
  .preview2 .columnn h1{
    color: #f9ce8a;
  }
  .preview1 .row .columnn h4,
  .preview2 .columnn h4{
     color: white;
  }
  .preview1 .row .columnn a img,
  .preview2 .container .row .columnn a img{
       width:100%;
       height:auto;
}
@keyframes fade {
         0%{opacity: 0}
         25%{opacity: 0.9}
         75%{opacity: 0.9}
         100%{opacity: 0}
}
@media (max-width: 1200px) {
    .img-slider .fade .text a{
        width:40%;
      }
      .preview1 .row .columnn h4{
        font-size: 19px;
     }
}
@media (max-width: 1100px) {
    .img-slider .mySlides div h2{
          font-size: 25px;
    }
}
@media (max-width: 991.98px) {
    .img-slider .fade .text{
        width: 45%;
    }
    .img-slider .fade .text a{
        width:50%;
      }
      .list-img .d-flex img{
        width:390px;
    }
    .img-slider .mySlides div{
        width: 30%!important;;
    }
    #h11,#h11_valid,#h11_thisweek,#h11_branchs{
        font-size: 17px!important;
        padding:0.3rem;
        padding-top: 1.5rem;
        width:40%;
        border-radius: 180px;
    }
}
@media (max-width: 771.98px) {
    .container .row div #categorytext{
         font-size:20px!important;
    }
    .img-slider .mySlides div h2{
          font-size: 20px;
    }
    #h11{
        font-size: 8px!important;
        padding-top: 1rem;
        width:40%;
    }
    #h11_branchs{
      width:55%;
      font-size: 8px!important;
      padding-top: 1rem;
    }
    #h11_thisweek{
      width:55%;
      padding-top: 1rem;
    }
    #h11_valid{
      width:55%;
      padding-top: 1.3rem;
      padding-bottom: 0.6rem;
    }
    #headerimg{
      margin:3rem;
    }
    #aa a #categorytext{
      font-size: 35px!important;
    }
}
@media (max-width: 767.98px) {
    .list-img,#isdisplay{
        display: none!important;
    }
}
@media (max-width: 575.98px) {
    .img-slider .mySlides div h2{
          font-size: 15px;
    }
    .img-slider .fade .text{
        width: 55%;
    }
    .img-slider .fade .text a{
        width:60%;
      }
      #headerimg{
        margin:4rem!important;
        padding:2rem;
        padding-bottom: 10px!important;
        padding-top: 0px!important;
      }
      #aa a #categorytext{
        font-size: 30px!important;
      }
}
@media (max-width: 450px) {

  #headerimg{
    margin:2rem!important;
  }
}
@media (max-width: 350px) {
    .img-slider .fade .text{
        width: 60%;
    }
    .img-slider .fade .text a{
        width:70%;
      }
      #h11_branchs{
        width:65%;
      }
}
