body{
    background-image: url('../images/footerAndNav/e.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* .video{
    width:100%;
    background-color: black;
    position: relative;
}
.video .ps{
    position:absolute;
    color: white;
    width:auto;
    padding-left:30px;
    right:40px;
    top:200px;
}
/* .video p span{} *
.video p{
    font-size: 25px;
    width:auto;
    line-height: 2.5;
}
.video .ps a{
    background-color: #B89761;
    color:white;
    border:0px;
    text-decoration: none;
    width:10%;
    border-radius: 5px;
    text-align: center;
}
.video .ps a:hover{
    color:black;
} */
.gold-section{
    position: relative;
    height: 190PX;
    background-color: transparent;
}
.gold-section .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, rgb(15, 12, 4) 4%, #75531c 80%, #996a1f 100%);
    opacity: 0.6;
    height: 190PX;
    width: 100%;
    top: 5;
    left: 0;
    position: absolute;
}
footer{
    background-color: black;
}
.empty{
    height: 250px;
    background-color: black;
}
/* slideshow */
.img-slider{
    background-color: black;
    width:100%;
    height: auto;
}
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    height:auto;
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .img-slider .mySlidesss {
    position: relative;
    height: auto;
  }
  .img-slider .mySlidesss div{
      top: 0!important;
      padding-top:20%;
      position:absolute;
      height: 100%;
      right:0!important;
      background-color: rgb(56, 54, 54);
      opacity: 0.8;
  }
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 35%;
    top:40%;
    right:5%;
    text-align: center;
    align-items: center;
  }
  /* .img-slider .fade .text a{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #B89761;
    color:white;
    display: block;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 30px;
    width:30%;
  } */
  .img-slider .fade .text h2{
        color:rgb(0, 0, 0);
  }
  .img-slider .fade .text p{
   color:white;  
  }
  .img-slider .fade .text a:hover{
    border: 0px;
    color:rgb(102, 96, 96);
  }
  .active, .dot:hover{
    background-color: #e2ad56;
  }  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 20s;
  }
  .img-slider .fade img{
     width:100%;
     height:auto;
  }
  .slideshow-container .circle{
    margin-top: -50px;
  }
  /*  */
  .today-perfume{
    background-color: black;
    /* padding: 70px 20px; */
    align-items: center;
  }
  .today-perfume h2{
        color:#B89761;
  }
  /*  */
  /* list image */
  .list-img {
    background-color: black;
  }
  .list-img .d-flex img{
      height:257px;
      width:386px;
  }
  .empty2{
    height:100px;
  }
  /*  */

    .a-large{
        margin-top:0px;
    }
    .a-large p{
        top:52%;
    }
  /*  */
  .preview1 .row .columnn,
  .preview2 .columnn{
      text-align: center;
      /* padding-top: 40px; */
  }
  .preview1 .row .columnn h1,
  .preview2 .columnn h1{
    /* padding-bottom:20px; */
    color: #B89761;
  }
  .preview1 .row .columnn h4,
  .preview2 .columnn h4{
     color: white;
  }
  .preview1 .row .columnn a img,
  .preview2 .container .row .columnn a img{
       width:100%;
       height:auto;
}

/* .preview2 .container .row .columnn{
    padding-right: 0px;
} */
  /*  */
  @keyframes fade {
           0%{opacity: 0}
           25%{opacity: 0.9}
           75%{opacity: 0.9}
           100%{opacity: 0}
  }
  

  @media (max-width: 1200px) {
    /* .video p{
        font-size: 20px;
        top:270px;
    } */
    .img-slider .fade .text a{
        width:40%;
      }
      .preview1 .row .columnn h4{
        font-size: 19px;
     }
     /* .preview1 .row .col-md-4 a img{
          width:150px;
          height:300px;
   } */
}
@media (max-width: 1100px) {
    .img-slider .mySlidesss div h2{
          font-size: 25px;
    }
}
@media (max-width: 991.98px) {
    /* .video p{
        font-size: 20px;
        top:270px;
    }
    .video .ps a{
        width: 16%;
    } */
    .img-slider .fade .text{
        width: 45%;
    }
    .img-slider .fade .text a{
        width:50%;
      }
      .list-img .d-flex img{
        width:390px;
    }
    .img-slider .mySlidesss div{
          width: 30%!important;;
    }
}


@media (max-width: 771.98px) {
    .container .row div #categorytext{
         font-size:20px!important;
    }
    .img-slider .mySlidesss div h2{
          font-size: 20px;
    }
}
@media (max-width: 767.98px) {
    /* .video p{
        font-size: 16px;
    } */
    /* .today-perfume .view-products .col-lg-3 img{
        width:30%;
        height:50%;
    } */
    /* .today-perfume .view-products .col-lg-3{
        height:600px
    } */
    .list-img,#isdisplay{
        display: none!important;
    }
}
@media (max-width: 575.98px) {
    .img-slider .mySlidesss div h2{
          font-size: 15px;
    }
    .img-slider .fade .text{
        width: 55%;
    }
    .img-slider .fade .text a{
        width:60%;
      }
      /* .today-perfume .view-products .col-lg-3 img{
        width:50%;
        height:60%;
    } */
}
/* @media (max-width: 400px) {
  .today-perfume .view-products .col-lg-3 img{
      width:60%;
      height:60%;
   }
} */
@media (max-width: 350px) {
    /* .video .ps a{
        width: 30%;x`
    } */
    .img-slider .fade .text{
        width: 60%;
    }
    .img-slider .fade .text a{
        width:70%;
      }
}
