body{
    background-color: black;
}
.success .divSection{
    background-color: black;
    border-width: 2px;
    border-color: white;
    padding: 4rem;
    justify-items: center;
}
.success h1{
    color:#f9ce8a;
}
.success h3{
    color:white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 3rem;
}
.success button{
        color: #ffffff;
        background-color: #f0be6f;
        border-width: 0px;
        width:15rem;
        font-size: 20px;
        height:4rem;
}
.success button:hover{
    transition-delay: 0.1s;
    background-color: #f0a62e;
}

@media (max-width: 990px) {
    .success h3{
        font-size: 20px;
    }
}
@media (max-width: 730px) {
    .success h3{
        font-size: 22px;
    }
}
@media (max-width: 530px) {
    .success h1{
        font-size: 25px;
    }
    .success h3{
        font-size: 18px;
        line-height: 2rem;
    }
    .success button{
        width:10rem;
        font-size: 16px;
        height:3.5rem;
    }
}
@media (max-width: 460px) {
    .success h1{
        font-size: 18px;
    }
    .success h3{
        font-size: 12px;
    }
    .success button{
        width:10rem;
        font-size: 12px;
        height:3rem;
    }
}