#whats{  
    position: fixed;
    z-index: 100;
    display: flex;
    right: 10px;
    bottom: 30px;
}

#whats img{
    width:65%;
    height:75%;
}
#whats #img2{
    
    height:70%;
    margin-top: 5px;
    width:100%;
}
@media (max-width: 740px) {
    #whats {
        right:10px;
     }
     #whats img{
         width:60%;
         height:80%;
     }
#whats #img2{   
    height:70%;
    margin-top: 5px;
    width:80%;
}
}
@media (max-width: 707px) {
    #whats {
        right:-4rem;
     }

}
@media (max-width: 590px) {
    #whats {
        right:0rem;
     }
     #whats img{
        width:60%;
        height:80%;
        margin-top: 5px;
    }   
    #whats #img2{   
        height:80%;
        width:85%;

    }
}